################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/bin/Debug/netstandard2.0
/bin/Release/netstandard2.0
/bin/Release
/Examples/GetTodaysOrders/bin
/Examples/GetTodaysOrders/obj
/.contextkeeper/.git-branches/main.ck
